* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../Images/Depositphotos_106586660_xl-2015 copy 3.jpeg") center/cover
      no-repeat;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.signup {
  background-color: rgba(248, 238, 238, 0.538);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 10px;
  border-radius: 40px;
  height: auto;
  box-shadow: 100px;
}
.container.login {
  background-color: rgba(248, 238, 238, 0.538);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 150px;
  border-radius: 40px;
}
.container-forgotpassword {
  background-color: rgba(248, 238, 238, 0.538);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 150px;
  border-radius: 40px;
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  color: rgb(12, 5, 5);
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
}

.password-container {
  position: relative;
}

.show-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: rgb(85, 85, 85);
  cursor: pointer;
}

button {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Added margin between the buttons */
}

button:hover {
  background-color: #2980b9;
}

.back-to-login {
  margin-top: 20px;
  text-align: center;
}

.back-to-login p {
  color: #555;
}

.back-to-login span {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}

.sign-up {
  margin-bottom: 30px;
}

.already-have-an-account {
  margin-bottom: 10px;
}

/* Add styling for the forgot-password-link */
.forgot-password-link {
  text-align: left;
  margin-bottom: 15px;
}

.forgot-password-link span {
  color: #0d1b24;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 5px;
}

/* Style for the cancel button in the Forgot Password form */
#forgotPasswordContainer button[type="button"] {
  background-color: #e74c3c;
  margin-right: 10px;
}

#forgotPasswordContainer button[type="button"]:hover {
  background-color: #c0392b;
}