.front_body {
  overflow-x: hidden;
}

/* Background Image Styles */
.new_background_image {
  background-image: url("../Images/download.jpeg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: brightness(50%);
  height: 100vh; /* Full height */
}

/* Header Styles */
/* Header Styles */
.new_header {
  font-size: 2em; /* Example size, adjust as needed */
  color: #e1d721;
  padding: 1em;
  text-align: center;
  text-decoration: underline;
}

/* Navigation Styles */
.new_nav {
  font-size: 1em; /* Example size, adjust as needed */
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  color: #fff;
}
.new_nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.new_nav a:hover {
  color: #b5deb5;
}

/* Main Content Styles */
.new_main {
  font-size: 1.2em; /* Example size, adjust as needed */
  padding: 2em;
  color: #b5deb5;
  font-weight: bold;
  text-align: left;
  transform: translateX(-30%);
}
.new_main p {
  font-style: bold;
}
/* Footer Styles */
.new_footer {
  font-size: 0.8em; /* Example size, adjust as needed */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 204, 0, 0.431);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
  border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Adjust styles for screens up to 768 pixels wide */

  /* Logo Styles */
  .new_logo {
    top: 5px; /* Adjust top position for smaller screens */
    left: 5px; /* Adjust left position for smaller screens */
  }

  /* Navigation Styles */
  .new_nav {
    justify-content: flex-start; /* Align navigation links to the left for smaller screens */
  }

  .new_nav a {
    margin-left: 0.5em; /* Adjust margin for spacing on smaller screens */
  }

  /* Main Content Styles */
  .new_main {
    transform: translateX(0); /* Reset the transformation for smaller screens */
  }

  /* Footer Styles */
  .new_footer {
    border-radius: 0; /* Remove border-radius for smaller screens */
  }
}
